*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding:0;
  margin:0;
  background-color: #484848;
  color: #9f9f9f;
  padding-bottom:50px;
}

h1,h2,h3 {
  font-weight:700;
  margin:0;
  padding:16px;
}


header {
  background:#000000;
  padding: 16px 0;
}

section {
  max-width:80%;
  margin: 0 auto;
  margin-top:32px;
  -webkit-box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.25);
  background:#212121;
}

section h2 {
  display:block;
  padding:16px;
  background:#111;
}

section .sectionInnerWrapper {
  padding: 16px;
}

#teilnehmerliste {
  margin:0;
  padding:0;
  max-height:300px;
  overflow-y:scroll;
}

#teilnehmerliste li {
  position:relative;
  display:block;
  padding:16px;;
  padding-right:66px;
  color:#fff;
}

#teilnehmerliste li:nth-child(odd) {
  background-color:#484848;
}

#teilnehmerliste li .delete {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 8px;
    width: 50px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    color:#fff;
}

/* Formelemente */
input, select, textarea {
    font-family: inherit;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: white;
    border-radius: 0;
}

input {
    display:block;
    width: 50%;
    padding: 8px;
    height: 48px;
    outline: none;
    border: 0;
    border-bottom: 2px solid rgba(0,0,0,0.16);
    background: rgba(0,0,0,0.09);
    border-radius: 2px 2px 0px 0px;
    color: #fff;
}

label {
  display: block;
  color: rgba(0,0,0,0.87);
  margin-bottom: 0.5rem;
  text-align: left;
  color:#9f9f9f;
}

button {
    color: #fff;
    background-color: #00e676;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    height: 32px;
    outline: none;
    padding: 0 16px;
    font-weight: 500;
    font-size: 16px;
    margin-top:16px;
}